
@model TransactionHistory

@{
    ViewBag.Title = "Create Transaction";
}

<h2>Create Transaction</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="AccountId" name="AccountId" value="@ViewBag.AccountId" />

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Amount)
        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TransactionType)
        @Html.DropDownListFor(model => model.TransactionType, new SelectList(new[] { "Debit", "Credit" }), "Select Transaction Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TransactionType, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}

