@model IEnumerable<TransactionHistory>
@*@section Scripts {
    <script>
        $(document).ready(function() {
            $('#activateBtn').click(function() {
                var accountId = '@ViewBag.AccountId';
                $.ajax({
                    url: '@Url.Action("ActivateAccount", "Customer")',
                    type: 'POST',
                    data: { accountId: accountId },
                    success: function(data) {
                        alert('Account activated successfully!');
                        window.location.href = '@Url.Action("Transcations", "Customer")'; // Redirect to home page
                    },
                    error: function(xhr, status, error) {
                        alert('Error activating account: ' + error);
                    }
                });
            });
        });
    </script>
}*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#activateBtn').click(function () {
                var accountId = '@ViewBag.AccountId';
                $.ajax({
                    url: '@Url.Action("ActivateAccount", "Customer")',
                    type: 'POST',
                    data: { accountId: accountId },
                    success: function (data) {
                        alert('Account activated successfully!');
                        window.location.href = '@Url.Action("Transactions", "Customer")'; // Redirect to home page
                    },
                    error: function (xhr, status, error) {
                        alert('Error deactivating account: ' + error);
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#deactivateBtn').click(function () {
                var accountId = '@ViewBag.AccountId';
                $.ajax({
                    url: '@Url.Action("DeactivateAccount", "Customer")',
                    type: 'POST',
                    data: { accountId: accountId },
                    success: function (data) {
                        alert('Account deactivated successfully!');
                        window.location.href = '@Url.Action("Transactions", "Customer")'; // Redirect to home page
                    },
                    error: function (xhr, status, error) {
                        alert('Error deactivating account: ' + error);
                    }
                });
            });
        });
    </script>
    <script>

        $(document).ready(function () {
            $('#filterBtn').click(function () {
                GetData();
            });

            function GetData() {
                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();
                var minimumAmount = $('#MinimumAmount').val();
                var maximunAmount = $('#MaximumAmount').val();
                var transactionType = $('#TransactionType').val();
                $.ajax({
                    url: '@Url.Action("Transactions", "Customer")',
                    type: 'GET',
                    data: { startDate: startDate, endDate: endDate, minimumAmount: minimumAmount, maximumAmount: maximunAmount, transactionType: transactionType },
                    success: function (result) {
                        // Clear existing table
                        if (Array.isArray(result.objectList)) {
                            $('table > tbody > tr').remove();
                            $('#balance').text(result.balance);
                            // Iterate over the filtered transactions and append rows to the table
                            result.objectList.forEach(function (transaction) {
                                var formattedDate = moment(transaction.transactionDate).format('DD-MMM-YY HH:mm:ss A');
                                var row = '<tr>' +
                                    '<td>' + formattedDate + '</td>' +
                                    '<td>' + transaction.description + '</td>' +
                                    '<td>' + transaction.transactionType + '</td>' +
                                    '<td>' + transaction.amount + '</td>' +
                                    '</tr>';
                                $('table > tbody').append(row);
                            });

                            // If no transactions found, display a message
                            if (result.length === 0) {
                                $('table > tbody').append('<tr><td colspan="4">No transactions found.</td></tr>');

                                $('#balance').text("0.00");
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Error filtering transactions: ' + error);
                    }
                });
            };
        });
    </script>
}

<div class="container mt-5">
    <h2>@ViewBag.CustomerName</h2>
    <div class="row">
        <div class="col-md-6">
            <label>Account Type: @ViewBag.AccountType</label><br />
            <label>
                Balance: ($<span id="balance">@ViewBag.AccountBalance</span>)
            </label>
            @* ///@((Model.Where(x=>x.TransactionType == "Credit").Sum(x=>x.Amount) - Model.Where(x => x.TransactionType == "Debit").Sum(x => x.Amount)).ToString("C"))
            *@
        </div>
        @if (ViewBag.IsActive == true)
        {
            <div class="col-md-6 text-right">
                <button id="deactivateBtn" class="btn btn-danger">Deactive</button>
                <a href="/customer/EditCustomerDetails/?customerId=@ViewBag.CustomerId" class="btn btn-primary" disabled>Edit Details</a>
                <a href="/customer/createtransaction/?accountId=@ViewBag.AccountId" class="btn btn-primary" disabled>New Transaction</a>
                <a href="/customer/Transfer/?accountId=@ViewBag.AccountId" class="btn btn-primary" disabled>Transfer</a>
            </div>

        }
        else
        {
            <div class="col-md-6 text-right">
                <button id="activateBtn" class="btn btn-success">Activate</button>
                <a href="#" class="btn btn-primary">Edit Details</a>
                <a href="#" class="btn btn-primary">New Transaction</a>
                <a href="#" class="btn btn-primary">Transfer</a>
            </div>

        }
        <div class="row mt-3">
            <div class="col-md-2">
                <label>Start Date:</label>
                <input type="date" id="startDate" class="form-control" />
            </div>
            <div class="col-md-2">
                <label>End Date:</label>
                <input type="date" id="endDate" class="form-control" />
            </div>
            <div class="col-md-3">
                <label for="TransactionType">Transaction Type</label>
                <select id="TransactionType" name="TransactionType" class="form-control">
                    <option value="">Select Transaction Type</option>
                    <option value="Debit">Debit</option>
                    <option value="Credit">Credit</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Max Amount:</label>
                <input type="number" id="MaximumAmount" class="form-control" />
            </div>
            <div class="col-md-2">
                <label>Min Amount:</label>
                <input type="number" id="MinimumAmount" class="form-control" />
            </div>
            <div class="col-md-1 text-right">
                <button id="filterBtn" class="btn btn-primary" style="
    margin-top: 32px;
margin-left: 5px;
">
                    Filter
                </button>
            </div>
        </div>

    </div>
    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Type</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody id="transactionTable">
            @foreach (var t in Model)
            {
                <tr>
                    <td>@t.TransactionDate</td>
                    <td>@t.Description</td>
                    <td>@t.TransactionType</td>
                    <td>@t.Amount</td>
                </tr>
            }
        </tbody>
    </table>
</div>




